@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
  font-family: 'Rubik', serif !important;
}
.btn_add_2{
  padding: 15px 15px 10px 20px;
  border-radius: 24px;
  background: #f0f0f0d2;
  box-shadow: 0 0 1px #f2d2d2d2 !important; 
}